body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    /* width: 350px;
    height: 120px; */
    /* overflow-x: auto;
    white-space: nowrap; */
}

#character,
#image_block,
.imageBlock {
    height: 10px;
    width: 10px;
}

#button_top,
#button_bottom,
#button_left,
#button_right,
#air {
    height: 100px;
    width: 100px;
    display: inline-block;
    font-size: 40px;
}

#laberint {
    position: relative;
    font-size: 0px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#character {
    background-color: rgba(253, 194, 1, 1);
    position: absolute;
    margin: 3px;
}

#button_news {
    margin-top: 10px;
}

#image_block {
    background-color: green;
    position: relative;
}

.imageBlock {
    /* position: absolute; */
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.id {
    grid-template: auto;
}

.notVisible {
    display: none;
}

#image_1 {
    background-image: url("img/1.svg");
    position: absolute;
}

#image_2 {
    background-image: url("img/2.svg");
    position: absolute;
}

#image_3 {
    background-image: url("img/3.svg");
    position: absolute;
}

#image_4 {
    background-image: url("img/4.svg");
    position: absolute;
}

#image_5 {
    background-image: url("img/5.svg");
    position: absolute;
}

#image_6 {
    background-image: url("img/6.svg");
    position: absolute;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#button_top {
    margin-bottom: 5px;
}

h3 {
    margin: 5px;
}

#div_settings {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width:)